@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-family: Roboto,sans-serif;
    color: c8cdd4;
}

.navbar header {
    position: relative;
    width: 375px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 
main {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191765;
    background-image: url(./assets/images/eclipes.png);
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: 40px;

} */